.root {
    /* Colors (from coolors.co) */
    light2: #feeafa;
    light1: #efd3d7;
    dark1: #cbc0d3;
    dark2: #8e9aaf;
    alt: #dee2ff;
    /* Root style */
    -fx-padding: 15;
    -fx-background-color: light1;
}

#today {
    -fx-font-weight: bold;
}

#today:hover,
#today:selected,
#niveau:selected {
    -fx-background-color: alt;
    -fx-text-fill: black;
    -fx-font-weight: normal;
}

#title {
    -fx-font-weight: bold;
    -fx-text-fill: dark2;
}

.scroll-pane,
.button,
.choice-box,
.choice-box .context-menu,
.table-column {
    -fx-background-color: light2;
}

.table-column {
    -fx-text-fill: black;
}

.button:hover,
.choice-box:hover,
.table-column:hover,
.choice-box .menu-item:focused {
    -fx-background-color: dark1;
}

.button:pressed,
.toggle-button:pressed,
.choice-box:pressed,
.table-column:pressed {
    -fx-background-color: dark2;
    -fx-text-fill: white;
}

#date:hover,
#date:selected {
    -fx-background-color: dark2;
    -fx-text-fill: white;
}

#dateHorsMois:hover {
    -fx-background-color: dark1;
    -fx-text-fill: black;
}

#dateHorsMois {
    -fx-text-fill: dark1;
}

#dateHorsMois,
#today,
#date {
    -fx-background-color: RGBA(0, 0, 0, 0);
}

#labelcalendrier {
    -fx-font-weight: bold;
    -fx-text-fill: dark2;
}

#opaque {
    -fx-background-color: light2;
    -fx-border-color: RGBA(0, 0, 0, 0);
}